version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: logbook-app
    container_name: logbook-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www/html
    volumes:
      # - ./:/var/www/html # Commented out for production to use built image assets
      - static_assets:/var/www/html/public
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - app-network

  webserver:
    image: nginx:alpine
    container_name: logbook-webserver
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_assets:/var/www/public
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  static_assets:
